<manifest package="com.ivianuu.multiprocesspreferences"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <application>

        <provider
            android:name=".MultiProcessSharedPreferencesProvider"
            android:authorities="${applicationId}.prefs"
            android:exported="false"/>

    </application>

</manifest>
